@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/Roboto-Black.woff");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.woff");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.woff");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/Roboto-Medium.woff");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto-Regular.woff");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("../fonts/Roboto-Thin.woff");
}

/* RobotoSlab */

@font-face {
    font-family: "RobotoSlab Black";
    src: url("../fonts/RobotoSlab/RobotoSlab-Black.ttf");
}

@font-face {
    font-family: "RobotoSlab Bold";
    src: url("../fonts/RobotoSlab/RobotoSlab-Bold.ttf");
}

@font-face {
    font-family: "RobotoSlab ExtraBold";
    src: url("../fonts/RobotoSlab/RobotoSlab-ExtraBold.ttf");
}

@font-face {
    font-family: "RobotoSlab ExtraLight";
    src: url("../fonts/RobotoSlab/RobotoSlab-ExtraLight.ttf");
}

@font-face {
    font-family: "RobotoSlab Light";
    src: url("../fonts/RobotoSlab/RobotoSlab-Light.ttf");
}

@font-face {
    font-family: "RobotoSlab Medium";
    src: url("../fonts/RobotoSlab/RobotoSlab-Medium.ttf");
}

@font-face {
    font-family: "RobotoSlab Regular";
    src: url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "RobotoSlab SemiBold";
    src: url("../fonts/RobotoSlab/RobotoSlab-SemiBold.ttf");
}

@font-face {
    font-family: "RobotoSlab Thin";
    src: url("../fonts/RobotoSlab/RobotoSlab-Thin.ttf");
}
