@import url("bootstrap.min.css");
@import url("bootstrap-icons.min.css");
@import url("fonts.css");

body {
  background-color: #75b08a;
  font-family: 'Roboto Regular';
}

section {
  padding: 50px 0 25px 0;
  position: relative;
}

section:last-of-type {
  padding: 50px 0;
}

section.contacts-page {
  padding: 50px 0 25px 0;
}

section.team-page {
  padding: 50px 0 100px 0;
}

.section-header {
  margin-bottom: 25px;
}

h1 {
  color: #198754;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  margin-bottom: 24px;
}

.header .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
}

.navbar-brand img {
  width: 100px;
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link:focus {
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active .nav-link {
  color: #75b08a;
}

.navbar .navbar-nav .dropdown-menu {
  top: 100%;
  border-radius: unset;
  background: #198754;
  border: unset;
  z-index: 1;
  padding-top: 15px;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: white;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #75b08a;
}

.header .realty,
.header .title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .realty {
  background-image: url("../images/main-bg.jpeg");
}

.header .title {
  height: 300px;
  position: relative;
}

.header .title .title-bg {
  background: rgba(117, 176, 138, .8);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-size: 100%;
  width: 100%;
  display: block;
  height: 100%;
}

.header .title h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 0;
  color: white;
}

.header .title-contacts {
  background-image: url("../images/contacts-bg.png");
}

.header .title-team {
  background-image: url("../images/team-bg.png");
}

.header .title-vacancy {
  background-image: url("../images/vacancy-bg.jpeg");
}

.header .title-partners {
  background-image: url("../images/partners-bg.png");
}

.header .title-rent {
  background-image: url("../images/rent-bg.jpeg");
}

.header .realty .all-objects {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 0;
}

.header .realty .all-objects .btn {
  border-radius: unset;
}

.subtitle {
  color: grey;
}

.all-objects .object {
  margin-bottom: 24px;
}

.all-objects .object .card {
  height: 100%;
}

.all-objects .object .card-body,
.my-objects .object .card-body,
.rent-info .object .card-body {
  padding-top: 1.5rem;
}

.object .card-body .card-price {
  color: white;
  padding: 5px 20px;
  background: #77b08b;
  border-radius: 100vh;
  color: #fff;
  min-width: 150px;
  position: absolute;
  margin-top: -42px;
}

.object .card-body .card-title a,
.object .card-body .card-title a:focus {
  color: black;
  text-decoration: unset;
}

.object .card-body .card-title a:hover {
  color: #75b08a;
}

.object .card-body .card-location {
  color: #aab2bd;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

.object .card-footer {
  display: flex;
  padding: unset;
}

.my-objects .object .card-footer {
  font-size: 14px;
}

.object .card-footer div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  padding: 0.5rem;
  color: #75b08a;
}

.object .card-footer div span {
  color: #198754;
}

.object .card-footer .square {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgba(0, 0, 0, 0.175);
}

.team-members .member {
  margin-bottom: 25px;
}

.team-members .member .card-image {
  position: relative;
}

.team-members .member .card-image a {
  display: block;
  height: auto;
  overflow: hidden;
}

.team-members .member .card-image a img {
  -webkit-transform: scale(1, 1);
  -webkit-transition: all 0.3s ease-in-out;
}

.team-members .member .card-image a:hover img {
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition: all 0.3s ease-in-out;
}

.team-members .member .card-image a:hover:after {
  content: "";
  background-color: rgba(117, 176, 138, .5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.team-members .member .card-image .team-info {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.team-members .member .card-image .team-info .name {
  background-color: rgba(25, 135, 84, 0.5);
  color: #fff;
  padding: 10px;
  width: 95%;
}

.team-members .member .card-image .team-info .skills {
  list-style-type:  none;
  margin: unset;
  padding: 15px 15px 10px 15px;
}

.team-members .member .card-image .team-info .skills li {
  display: inline-block;
  padding: 5px 8px;
  background: #198754;
  border-radius: 10px;
  color: #fff;
  font-size: 11px;
  margin: 0 5px 5px 0;
}

.team-members .member .card-title {
  margin: unset;
}

.team-members .member .card-contacts li {
  padding: 8px 0 8px 40px;
  position: relative;
}

.team-members .member .card-contacts li i {
  background: rgba(25, 135, 84, 0.2);
  text-align: center;
  width: 34px;
  height: 100%;
  top: 0;
  bottom: 0;
  line-height: 40px;
  margin-right: 10px;
  display: inline-block;
  left: 0;
  position: absolute;
  color: #198754;
}

.team-members .member .card-contacts li a,
.team-members .member .card-contacts li a:focus {
  color: #198754;
  text-decoration: unset;
}

.team-members .member .card-contacts li a:hover {
  color: #75b08a;
}

.card-list {
  margin-top: 50px;
}

.card-list .card-wrapper {
  margin-bottom: 24px;
}

.card-list .card {
  height: 100%;
}

.card-list .card:hover {
  background-color: #0596690d;
}

.card-list .card-icon {
  display: block;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 15px;
}

.card-list .card-icon i {
  background-color: #0596690d;
  padding: 15px 16px;
  display: inline-block;
  border-radius: 8px;
  color: #198754;
}

.card-list .card:hover .card-icon i {
  color: white;
  background-color: #198754;
  transition: background 1s ease;
}

.card-list .card-title {
  font-size: 18px;
}

.card-list .card-text {
  font-size: 14px;
  color: #aab2bd;
}

.vacancy-page .vacancy-info {
  /*padding-top: 30px;*/
}

.vacancy-page .vacancy-info img {
  max-width: 440px;
}

.vacancy-page .vacancy-info h3 {
  color: #198754;
}

.vacancy-page .vacancy-info i {
  color: #198754;
  margin-right: 5px;
}

.vacancy-page .vacancy-info ul li:nth-child(even) {
  padding-left: 25px;
  color: #aab2bd;
  font-size: 14px;
}

.vacancy-page .vacancy-items {
  margin-top: 32px;
}

.vacancy-page .vacancy-item {
  padding: 24px;
  transition-duration: .5s !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.vacancy-page .vacancy-item:hover {
  box-shadow: 0 0 25px #3c485826 !important;
}

.vacancy-page .vacancy-item:hover .btn {
  color: white;
  background-color: #198754;
  transition-duration: .5s !important;
}

.vacancy-page .vacancy-item .vacancy-item__info a,
.vacancy-page .vacancy-item .vacancy-item__info a:focus {
  color: black;
  text-decoration: unset;
  font-size: 20px;
}

.vacancy-page .vacancy-item .vacancy-item__info a:hover {
  color: #198754;
}

.vacancy-page .vacancy-item .vacancy-item__info p {
  color: #aab2bd;
}

.vacancy-page .vacancy-item .vacancy-item__info .work-note {
  background-color: rgba(117, 176, 138, .2);
  color: #198754;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 4px;
}

.vacancy-page .vacancy-item .btn {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
}

.vacancy-page .vacancy-detail p,
.vacancy-page .vacancy-detail ul li {
  color: #8A909A;
}

.vacancy-page .vacancy-detail h5 {
  margin: 20px 0 10px 0;
}

.vacancy-page .vacancy-detail i {
  color: #198754;
}

.vacancy-page .vacancy-detail .sidebar-wrapper {
  transition-duration: .5s !important;
  transition-property: all !important;
  position: sticky;
  top: 10px;
}

.vacancy-page .vacancy-detail .sidebar {
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
  border-radius: 8px;
  margin-bottom: 24px;
}

.vacancy-page .vacancy-detail .sidebar h5,
.vacancy-page .vacancy-detail .sidebar .sidebar-info {
  margin: unset;
  padding: 24px;
}

.vacancy-page .vacancy-detail .sidebar .sidebar-info {
  border-top: 1px solid #3c485826;
}

.vacancy-page .vacancy-detail .sidebar .sidebar-info ul li {
  display: flex;
  align-items: center;
}

.vacancy-page .vacancy-detail .sidebar .sidebar-info i {
  font-size: 20px;
  color: black;
  margin-right: 16px;
}

.vacancy-page .vacancy-detail .sidebar .sidebar-info p {
  color: black;
  font-size: 18px;
  margin: unset;
}

.vacancy-page .vacancy-detail .sidebar .sidebar-info span {
  color: #198754;
  font-size: 14px;
  line-height: 16px;
  display: block;
}

.vacancy-page .vacancy-detail .vacancy-contact img {
  width: auto;
  height: 80px;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info {
  margin-left: 10px;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .user-name a,
.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .user-name a:focus {
  color: black;
  text-decoration: unset;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .user-name a:hover {
  color: #198754;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .user-role {
  margin-bottom: 4px;
  font-size: 12px;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .contact-list .info-item {
  background: rgba(25, 135, 84, .2);
  border-radius: 5px;
  padding: 4px 8px 4px 36px;
  position: relative;
  display: inline-block;
  color: #198754;
  min-width: 160px;
  margin-right: 10px;
  font-size: 14px;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .contact-list .info-item i {
  background: rgba(25, 135, 84, .2);
  text-align: center;
  width: 30px;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: 5px 0 0 5px;
  line-height: 30px;
  margin-right: 10px;
  display: inline-block;
  left: 0;
  position: absolute;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .contact-list .info-item a,
.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .contact-list .info-item a:focus {
  color: #198754;
  text-decoration: none;
}

.vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .contact-list .info-item a:hover {
  color: #75b08a;
}

.list-skills .skill-item {
  display: inline-block;
  background-color: rgba(117, 176, 138, .2);
  color: #198754;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
  margin-right: 4px;
  margin-bottom: 8px;
}

#vacancy-response {
  --bs-accordion-bg: transparent;
}

.content-info {
  background: url("../images/location-bg.png") no-repeat scroll 0 center transparent;
  
  color: white;
  padding: 7% 0 3%;
  background-size: cover;
  position: relative;
}

.content-info .container {
  position: relative;
}

.content-info__bg {
  background: rgba(117, 176, 138, .8);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-size: 100%;
  width: 100%;
  display: block;
  height: 100%;
}

.content-info .title {
  font-size: 20px;
}

.content-info a,
.content-info a:focus {
  color: white;
  text-decoration: none;
}

.content-info a:hover {
  color: #75b08a;
}

.footer-contact-info .info-item {
  background: rgba(0, 0, 0, .2);
  border-radius: 5px;
  margin: 10px 0;
  padding: 8px 0;
  position: relative;
  padding-left: 40px;
}

.footer-contact-info .info-item i {
  background: rgba(0, 0, 0, .2);
  text-align: center;
  width: 34px;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: 5px 0 0 5px;
  line-height: 40px;
  margin-right: 10px;
  display: inline-block;
  left: 0;
  position: absolute;
}

.footer-contact-info .btn-group {
  background-color: rgba(0, 0, 0, .2);
}

.footer-contact-info .btn-group a:hover {
  background-color: rgba(0, 0, 0, .4);
}

.footer {
  background-color: #198754;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover,
.footer a:focus {
  color: #75b08a;
}

.pagination {
  justify-content: center;
  margin: 25px 0;
}

.pagination .page-link {
  box-shadow: unset;
}

.pagination .page-link,
.pagination .page-link:focus {
  color: #75b08a;
}

.pagination .page-item.active .page-link,
.pagination .page-link:hover {
  color: white;
  background: #75b08a;
  border-color: #75b08a;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #77b08b;
}

.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item a:focus {
  color: #198754;
  text-decoration: unset;
}

.breadcrumb .breadcrumb-item a:hover {
  color: #75b08a;
}

.contacts-page .contact-info {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
  margin-bottom: 24px;
}

.contacts-page .contact-info ul,
.contacts-page .contact-info li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.contacts-page .contact-info .box:not(:last-child) {
  margin-bottom: 24px;
}

.contacts-page .contact-info h5 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
}

.contacts-page .contact-info .box .title {
  margin-bottom: 8px;
}

.contacts-page .contact-info .box .box-social {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.contacts-page .contact-info .box .box-social .item {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #75b08a;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-page .contact-info .box .box-social .item:hover {
  background-color: rgba(117, 176, 138, .5);
  border-color: #75b08a;
}

.contacts-page .text-1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.contacts-page .text-variant-1 {
  color: #5c6368;
}

.contacts-page .text-variant-1 span,
.contacts-page .text-variant-1 a {
  display: block;
}

.contacts-page .text-variant-1 a,
.contacts-page .text-variant-1 a:focus {
  color: #5c6368;
  text-decoration: unset;
}

.contacts-page .text-variant-1 a:hover {
  color: #198754;
}

.contacts-page .map {
  margin-top: 25px;
}

.explore {
  position: relative;
  padding: unset;
}

.explore-wrapper {
  align-items: center;
  padding: 40px 60px;
  background-color: #198754;
  color: #d3d4d5;
  width: 100%;
}

.explore-wrapper h1 {
  color: white;
}

.explore-wrapper .explore-link a {
  border-radius: unset;
  padding: 15px 40px;
}

.team-page .team-info {
  margin-bottom: 42px;
}

.team-page .team-info h4 {
  font-size: 18px;
  margin: 0 0 24px;
}

.team-page .details-wrapper,
.team-page .feedback-form {
  padding: 24px;
  margin-bottom: 24px;
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
}

.team-page .my-objects {
  padding: 24px 24px 50px 24px;
  margin-bottom: 24px;
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
}

.team-page .details-wrapper .img-thumbnail {
  width: 100%;
}

.team-page .details-wrapper .user-info__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 25px;
}

.team-page .details-wrapper .detail-user-info .rating {
  margin-bottom: 10px;
  font-size: 14px;
}

.team-page .details-wrapper .detail-user-info .rating .rating-count i.bi-star-fill {
  color: #FCAF3D;
}

.team-page .details-wrapper .detail-user-info .rating .rating-review {
  color: #8A909A;
}

.team-page .details-wrapper .detail-user-info h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.team-page .details-wrapper .detail-user-info h3 i {
  color: #198754;
  font-size: 20px;
}

.team-page .details-wrapper .detail-user-info .role {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.team-page .details-wrapper .detail-user-info .role span {
  font-size: 15px;
  font-weight: 700;
  color: #198754;
}

.team-page .details-wrapper .detail-actions {
  margin-bottom: 10px;
  min-width: 260px;
}

.team-page .details-wrapper .detail-actions a i {
  font-size: 14px;
  margin-right: 5px;
}

.team-page .details-wrapper .contact-list {
  margin-bottom: 25px;
}

.team-page .details-wrapper .contact-list .info-item,
.agent-details .contact-list .info-item {
  background: rgba(25, 135, 84, .2);
  border-radius: 5px;
  padding: 8px 10px 8px 40px;
  position: relative;
  display: inline-block;
  color: #198754;
  min-width: 190px;
  margin-right: 10px;
}

.agent-details .contact-list .info-item {
  width: 100%;
  margin-right: unset;
  margin-bottom: 10px;
  text-align: left;
}

.team-page .details-wrapper .contact-list .info-item i,
.agent-details .contact-list .info-item i {
  background: rgba(25, 135, 84, .2);
  text-align: center;
  width: 34px;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: 5px 0 0 5px;
  line-height: 40px;
  margin-right: 10px;
  display: inline-block;
  left: 0;
  position: absolute;
}

.team-page .details-wrapper .contact-list .info-item a,
.team-page .details-wrapper .contact-list .info-item a:focus,
.agent-details .contact-list .info-item a,
.agent-details .contact-list .info-item a:focus {
  color: #198754;
  text-decoration: none;
}

.team-page .details-wrapper .contact-list .info-item a:hover,
.agent-details .contact-list .info-item a:hover {
  color: #75b08a;
}

.team-page .review-card .customer-review {
  margin: 0 0 24px;
  padding: 15px;
  border: 1px solid #f4f4f4;
}

.team-page .review-card .customer-review .customer-info {
  margin-bottom: 15px;
}

.team-page .review-card .customer-review .customer-info,
.team-page .review-card .customer-review .customer-info .customer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.team-page .review-card .customer-review .customer-info .customer-name img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 15px;
}

.team-page .review-card .customer-review .customer-info .customer-name h5 {
  color: #0E0E46;
  font-weight: 600;
  margin-bottom: 2px;
}

.team-page .review-card .customer-review .customer-info .customer-name p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.team-page .review-card .customer-review .customer-info .rating {
  font-size: 14px;
  font-weight: 500;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-page .review-card .customer-review .customer-info .rating .rating-count {
  margin-right: 4px;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-page .review-card .customer-review .customer-info .rating .rating-count i {
  margin-right: 3px;
}

.team-page .explore-wrapper {
  bottom: -180px;
}

.rating-count i.bi-star-fill,
.rating-count i.bi-star-half {
  color: #FCAF3D;
}

i.bi-star {
  color: #E3E3E3;
}

p:last-child {
  margin-bottom: 0;
}

.team-page .review-card .customer-review .customer-info .rating .rating-review {
  font-size: 14px;
  font-weight: 500;
  color: #8A909A;
  display: inline-block;
  margin-bottom: 0;
}

.team-page .review-card .customer-review .customer-info .rating .rating-review span {
  margin-right: 5px;
}

.team-page .review-card .customer-review .review-comment {
  background: #F7F6FF;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
}

.team-page .review-card .customer-review .review-comment p {
  font-size: 16px;
  color: #8A909A;
}

.team-page .review-card .property-review h5 {
  padding-bottom: 0 !important;
  margin: 0 0 20px;
}

.partners-page .partner-item {
  display: flex;
  align-items: center;
}

.partners-page .partner-item .partner-logo {
  height: 100%;
}

.partners-page .partner-item .partner-logo,
.partners-page .partner-item .partner-desc {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.partners-page .partner-item .partner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-page .partner-item .partner-logo img {
  height: auto;
}

.partners-page .partner-item p,
.partners-page .partner-item ul li {
  text-align: justify;
  color: #6c757d;
}

.partners-page .partner-item h4 {
  margin-top: 1rem;
}

.partners-page .partner-item .partner-logo {
  background-color: #198754;
}

.partners-page .partner-item .partner-logo:hover {
  background-color: #75b08a;
}

.rea-area {
  background: rgba(0, 0, 0, 0) url("../images/vacancy-bg.jpeg") no-repeat fixed center center / cover;
  position: relative;
  z-index: 0;
  padding: 50px 0;
}

.rea-area h2 {
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1.6px;
}

.rea-area p {
  font-size: 20px;
}

.bg-overlay::after {
  background: -webkit-radial-gradient(50% 50%, #75b08a 0%, #198754 100%);
  opacity: 0.95;
  z-index: -1;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.bg-overlay::after {
  opacity: 0.95;
  z-index: -1;
}

.review-form input:focus, .review-form textarea:focus,
.message-form input:focus, .message-form textarea:focus, .message-form select:focus,
.callme-form input:focus {
  background-color: #F6F6F9;
  outline: 0;
  box-shadow: unset;
}

.review-form input, .review-form textarea,
.message-form input, .message-form textarea,
.respond-form input, .respond-form textarea,
.callme-form input {
  margin: 0;
  padding: 10px 15px;
  background: #F6F6F9;
  border: 1px solid #f4f4f4;
  font-weight: normal;
  width: 100%;
  resize: none;
  border-radius: 5px;
  min-height: 45px;
  font-size: 14px;
}

.respond-form input, .respond-form textarea,
.respond-form input:focus, .respond-form textarea:focus, .respond-form select:focus {
  background-color: rgba(117, 176, 138, .2);
  outline: 0;
  box-shadow: unset;
}

.respond-form select.form-select {
  margin: 0;
  padding: 10px 15px;
  background-color: rgba(117, 176, 138, .2);
  border: 1px solid #f4f4f4;
  font-weight: normal;
  width: 100%;
  resize: none;
  border-radius: 5px;
  min-height: 45px;
  font-size: 14px;
}

.message-form select.form-select {
  margin: 0;
  padding: 10px 15px;
  background-color: #F6F6F9;
  border: 1px solid #f4f4f4;
  font-weight: normal;
  width: 100%;
  resize: none;
  border-radius: 5px;
  min-height: 45px;
  font-size: 14px;
}

.message-form .sidebar-card-title {
  font-size: 20px;
  border-bottom: 1px solid #E3E3E3;
  margin: 0 0 20px;
}

.message-form .sidebar-card-title h5 {
  margin: 0 0 20px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #75b08a;
}

.accordion-button,
.accordion-button:focus {
  box-shadow: unset;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed {
  background-color: #75b08a;
  color: white;
}

.accordion-body {
  padding: 1.3rem 1.5rem;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #75b08a;
}

.nav-pills .nav-link {
  color: #198754;
}

.nav-pills .nav-link:hover {
  color: #75b08a;
}

.nav-pills .nav-link.active {
  color: white;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators [data-bs-target] {
  background-color: #198754;
}

ul.list-none, ul.list-none li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

/* Stars Rating */

.rating-group {
  display: inline-flex;
  margin: 0 auto;
}

.rating__icon {
  pointer-events: none;
}

.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

.rating__label--half {
  padding-right: 0;
  margin-right: -35px;
  z-index: 2;
}

.rating__icon--star {
  color: orange;
}

.rating__icon--none {
  color: #eee;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

.rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
  color: #eee;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

/* Stars Rating End */

#admin-page.auth {
  background: radial-gradient(ellipse at center, #198754 1%, #000 100%);
  height: calc(100vh);
  width: 100%;
}

#admin-page {
  padding: unset;
}

#admin-page .logo {
  margin-left: 44px;
}

#admin-page .logo img {
  background: white;
  border-radius: 50%;
  border: 3px solid #198754;
  width: 100px;
  padding: 10px;
}

#login form {
  margin-top: 24px;
}

#login form i {
  color: #198754;
}

#login form .input-group input {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

#login .form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

#login .form-control:focus {
  border-color: white;
}

#login .form-check-input:focus {
  border-color: #198754;
}

#login .form-control:focus,
#login .form-check-input:focus {
  box-shadow: unset;
}

#login .form-check {
  color: white;
}

.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
  color: white;
}

.rent-form {
  background-color: rgba(117, 176, 138, 0.5);
  border-color: #f1155a;
  padding: 20px;
  border-top: 3px solid #198754;
  border-radius: 0 0 7px 7px;
}

.rent-form label {
  display: block;
  color: #198754;
  border-color: #198754;
}

.rent-form .btn-group label {
  color: #75b08a;
  background: white;
}

.rent-form .btn-group label:hover,
.rent-form .btn-group .btn-check:checked+.btn {
  color: white;
  background: #75b08a;
  border-color: #75b08a;
}

.rent-form input::placeholder {
  color: #75b08a;
  opacity: 1; /* Firefox */
}

.rent-form .form-control:focus,
.rent-form .form-select:focus {
  box-shadow: unset;
}

.rent-info h2 {
  margin-bottom: 24px;
}

.rent-info .object {
  margin-bottom: 24px;
}

.rent-info .object:nth-last-child(2),
.rent-info .object:last-child {
  margin-bottom: unset;
}

.rent-info .object .card-footer {
  font-size: 14px;
}

.rent-info .card-body .additional-payments {
  color: #aab2bd;
  margin-bottom: 5px;
  display: block;
}

.rent-info .map-objects {
  transition-duration: .5s !important;
  transition-property: all !important;
  position: sticky;
  top: 0;
}

.rent-management i {
  color: #198754;
  margin-right: 5px;
}

.rent-details .rent-gallery,
.rent-details .rent-info,
.rent-details .rent-about,
.rent-details .rent-params,
.rent-details .rent-map,
.rent-details .rent-other,
.agent-details {
  padding: 24px;
  margin-bottom: 24px;
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
}

.rent-details .rent-params h5 {
  margin-top: 10px;
  font-size: 16px;
}

.rent-details .rent-params ul.list-none li div {
  width: 50%;
}

.rent-details .rent-params ul.list-none li .title {
  color: #8A909A;
}

.rent-details h3 {
  font-size: 24px;
}

.object-info {
  display: flex;
  justify-content: space-between;
}

.by-price, .by-location {
  width: 100%;
  height: 470px;
  overflow-x:scroll;
  overflow-y:hidden;
}

.scroll-objects {
  white-space:nowrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.scroll-objects .object {
  display: inline-block;
  white-space: normal;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.scroll-objects .object .card-body {
  padding-top: 1.5rem;
}

.scroll-objects .object .card-body .card-location,
.scroll-objects .object .card-body .additional-payments {
  font-size: 0.75rem;
  display: block;
}

.scroll-objects .object .card-footer div {
  padding: 0.5rem 0.2rem;
  font-size: 12px;
}

.agent-details .card {
  border: unset;
}

.agent-details .card .card-body {
  padding-right: unset;
  padding-left: unset;
}

.agent-details .agent-name {
  margin-bottom: 24px;
}

.agent-details .agent-name a {
  font-size: 18px;
  text-decoration: none;
  color: #198754;
}

.agent-details .agent-name a:hover {
  color: #75b08a;
}

.agent-details .agent-photo a {
  position: relative;
  display: inline-block;
}

.agent-details .agent-photo img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

.agent-details .agent-photo .rating {
  background-color: #198754;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  bottom: -8px;
  right: -22px;
}


.gallery {
  display: flex;
  margin: 10px auto;
  position: relative;
}

.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}

.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.gallery__selector:checked {

}


@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
    padding: 10px;
  }
  
  .navbar-brand {
    margin: 0 1em;
    padding: unset;
    background: white;
    border-radius: 50%;
    border: 3px solid #198754;
    z-index: 10;
  }
  
  .bg-main-menu {
    background-color: #198754;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    z-index: 1;
  }
  
  .navbar-collapse {
    z-index: 2;
  }
  
  .explore-wrapper {
    position: absolute;
    bottom: -110px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
  }
  
  .contacts-page .map {
    margin-bottom: -32px;
  }
  
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }
  
  .header .realty,
  .header .title {
    margin-top: -31px;
  }
  
  .header .realty {
    height: calc(100vh - 90px);
  }
  
  .header .realty .all-objects .btn {
    font-size: 36px;
  }
  
  .partners-list .partner-item {
    overflow: hidden;
  }
  
  .partners-list .partner-item img,
  .partners-list .partner-item a:focus img {
    filter: drop-shadow(0px 100px 0 #75b08a);
    transform: translateY(-100px);
  }
  
  .partners-list .partner-item a:hover img {
    filter: unset;
    transform: unset;
  }
  
  .content-info .title {
    margin-bottom: 30px;
  }
  
  .partners-page .partner-item {
    height: 550px;
  }
  
  .partners-page .partner-item:nth-child(odd) .partner-logo {
    order: 1;
  }
  
  .partners-page .partner-item:nth-child(odd) .partner-desc {
    order: 2;
  }
  
  .partners-page .partner-item:nth-child(even) .partner-logo {
    order: 2;
  }
  
  .partners-page .partner-item:nth-child(even) .partner-desc {
    order: 1;
  }
  
  #admin-page .middle {
    display: flex;
    width: 600px;
  }
  
  #admin-page #login {
    border-right: 1px solid #fff;
    padding: 0px 22px;
    width: 59%;
  }
}

@media (max-width: 767px) {
  .header .navbar {
    background-color: #198754;
  }
  
  .navbar-brand {
    padding: unset;
    background: white;
    border-radius: 50%;
    border: 3px solid #198754;
  }
  
  .navbar-brand img {
    padding: 5px;
    width: 60px;
  }
  
  .navbar .navbar-nav {
    align-items: start;
  }
  
  .navbar .navbar-nav .dropdown-menu {
    padding-top: unset;
    margin-left: 15px;
  }
  
  .explore-wrapper {
    padding: 20px;
    text-align: center;
    margin: -7px 0 -25px 0;
  }
  
  .bg-main-menu {
    display: none;
  }
  
  .header .realty {
    height: 300px;
  }
  
  .header .realty .all-objects .btn {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .object .card-footer {
    font-size: 13px;
  }
  
  .rea-area h2 {
    font-size: 32px;
  }
  
  .partners-list .partner-item img {
    margin: 15px auto;
    max-width: 150px;
  }
  
  .content-info {
    padding: 7% 0 7% 0;
  }
  
  .content-info .title {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .content-info .col-12:last-child .title {
    margin-top: 15px;
  }
  
  .explore-wrapper h1 {
    font-size: 22px;
  }
  
  .explore-wrapper p {
    font-size: 14px;
  }
  
  .explore-link {
    margin-top: 15px;
  }
  
  .explore-wrapper .explore-link a {
    padding: 8px 20px;
  }
  
  .partners-page .partner-item .partner-logo {
    height: 200px;
    margin-top: 15px;
  }
  
  .partners-page .partner-item .partner-logo img {
    display: block;
    margin: auto;
  }
  
  section.team-page {
    padding: 50px 0 25px 0;
  }
  
  .team-page .details-wrapper, .team-page .feedback-form,
  .team-page .my-objects,
  .accordion-body {
    padding: 12px;
  }
  
  .team-page .details-wrapper .user-info__wrapper {
    display: block;
    margin-top: 15px;
  }
  
  .team-page .details-wrapper .detail-actions {
    margin-bottom: 25px;
  }
  
  .team-page .details-wrapper .detail-actions a:first-child {
    margin-right: 8px;
  }
  
  .team-page .details-wrapper .contact-list .info-item {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .nav-pills .nav-link {
    font-size: 14px;
    padding: 4px 8px;
  }
  
  .carousel-item .object {
    margin-bottom: 24px;
  }
  
  .my-objects .object .card-footer {
    font-size: 12px;
  }
  
  .team-page .review-card .customer-review {
    margin-bottom: 12px;
  }
  
  .team-page .review-card .customer-review .customer-info {
    display: block;
  }
  
  .team-page .review-card .customer-review .customer-info .customer-name {
    justify-content: unset;
  }
  
  .team-page .review-card .customer-review .customer-info .rating {
    margin-top: 15px;
  }
  
  .feedback-form {
    margin-top: 24px;
    transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #3c485826 !important;
  }
  
  .vacancy-page .vacancy-info img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .vacancy-page .vacancy-item {
    padding: 12px;
    display: block;
  }
  
  .vacancy-page .vacancy-detail .sidebar h5,
  .vacancy-page .vacancy-detail .sidebar .sidebar-info {
    padding: 12px;
  }
  
  .breadcrumb .breadcrumb-item {
    font-size: 12px;
  }
  
  .vacancy-page .vacancy-detail .vacancy-contact img {
    width: 100px;
    height: auto;
  }
  
  .vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .contact-list .info-item {
    font-size: 10px;
  }
  
  .vacancy-page .vacancy-detail .vacancy-contact .vacancy-contact__info .contact-list .info-item i {
    width: 24px;
    line-height: 24px
  }
  
  #admin-page .middle {
    display: flex;
    flex-direction: column;
  }
  
  #admin-page #login {
    border-top: 1px solid #fff;
    order: 2;
  }
  
  #admin-page .logo {
    display: block !important;
    margin: unset;
    text-align: center;
    order: 1;
  }
  
  #admin-page .logo img {
    margin-bottom: 24px;
  }
}




@media (max-width: 575px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}
